<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("partials/cabecalho.ejs") %>
    <title>Dados do Aluno</title>
</head>
<body>
    <h1>Informações do Aluno</h1>
    <table>
        <thead>
            <tr>
                <th>E-mail</th>
                <th>Nome</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= usuario.email %></td>
                <td><%= usuario.nome %></td>
             
            </tr>
        </tbody>
    </table>
</body>
</html>
