<form action="/alunos" method="post">
    Matricula: <input type="text" name= "mat">
    Nome: <input type="text" name="nome">
    Disciplina: <input type="text" name="disciplina">
    <button class="text-bg-primary" type="submit">Salvar</button>
</form>